.login-parent {
    .login-container {
        text-align: center;
        max-width: 600px;
        margin: 0 auto;
        margin-top: 20px;

        .svg-lock {
            margin: 0 auto;
            max-width: 150px;
        }
    }

    @media (max-width: 480px) {
        .login-container {
            max-width: 300px;
            margin: 0 auto;
        }

        .svg-lock {
            display: none;
        }
    }
}